@import url('reset.css');
@import url('fuentes.css');

/*--- Estilos Generales ---*/

body {
	background:#2d2d2d;
	font-family:Arial, Helvetica, Sans-serif;
}

a {
	text-decoration:none;
	color:#fff;
}

a:hover {
	text-decoration:underline;
}

#wrap {
	width:960px;
	margin:auto;
	clear:both;
}

/*--- Header ---*/

header {
	width:100%;
	float:left;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,a8a8a8+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 50%, #a8a8a8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#a8a8a8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 50%,#a8a8a8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a8a8a8',GradientType=0 ); /* IE6-9 */	
box-shadow:0px 3px 5px #000;
-moz-box-shadow:0px 3px 5px #000;
-webkit-box-shadow:0px 3px 5px #000;
}

#subheader {
	width:960px;
	margin:auto;
}

#logotipo {
	float:left;
	width:300px;
	padding:10px 0px;
}

#logotipo a {
	font-family:sourcesans-light;
	font-size:50px;
	color:#000;
}

#logotipo a:hover {
	text-decoration:none;
}

/*--- Menu ---*/

header #subheader nav {
	float:left;
	width:660;
	padding:30px 0px;
	text-align:right;
}

header #subheader nav ul li {
	display:inline;
	font-family:sourcesans-regular;
}

header #subheader nav ul li a {
	color:#000;
	font-size:18px;
	padding:10px;
	border-radius:2px;
	-moz-border-radius:2px; /* para navegadores antiguos*/
	-webkit-border-radius:2px; /* para navegadores antiguos*/
}

header #subheader nav ul li a:hover {
	color:#fff;
	background:#1798af;
	text-decoration:none;
}

/*--- MAIN ---*/

#main {
	width:100%;
	margin:20px 0px 0px 0px;
	float:left;
}

/*--- Slideshow ---*/

#slideshow {
	width:920px;
	height:260px;
	float:left;
	background:#000;
	border:solid 20px #ffffff;
	margin-bottom:10px;
}

#slideshow .pagination {
	margin:26px 0px;
	width:100px;
}

#slideshow .pagination li {
	float:left;
	margin:0px 5px;
	list-style:none;
}

#slideshow img {
	width:920px;
	height:260px;
}

#slideshow .pagination li a {
	display:block;
	width:12px;
	height:0px;
	padding-top:12px;
	background:#fff;
	float:left;
	overflow:hidden;
	border-radius:10px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
}

#slideshow .pagination li.current a {
	background:#1798af;
}

/*--- Bienvenidos ---*/

#bienvenidos {
	width:920px;
	float:left;;
	padding:20px;
	background:/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#46793a+1,2d4c1e+100 */
	background: #46793a; /* Old browsers */
	background: -moz-linear-gradient(top,  #46793a 1%, #2d4c1e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #46793a 1%,#2d4c1e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #46793a 1%,#2d4c1e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46793a', endColorstr='#2d4c1e',GradientType=0 ); /* IE6-9 */
	;
	margin:20px 0px;
	border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	box-shadow:0px 2px 2px #000;
		-moz-box-shadow:0px 2px 2px #000;
		-webkit-box-shadow:0px 2px 2px #000;
}

#bienvenidos article h3 {
	font-family:sourcesans-light;
	color:#fff;
	font-size:40px;
	margin-bottom:10px;
}

#bienvenidos article {
	color:#fff;
	line-height:27px;
}

/*--- CONTENIDO ---*/

#contenido {
	width:700px;
	float:left;
}

#contenido article {
	float:left;
	margin-bottom:20px;

}

#contenido article .titulo {
	font-size:22px;
	font-family:sourcesans;
	color:#fff;
}

#contenido article .fecha {
	font-size:14px;
	color:#1798af;
	margin-bottom:5px;
}

#contenido article .thumb {
	width:220px;
	height:150px;
	float:left;
	margin:0px 10px 10px 0px;
}

#contenido article > p {
	color:#8c8c8c;
	font-size:14px;
	text-align:justify;
}

/*--- Sidebar ---*/

aside {
	color:#fff;
	width:220px;
	float:left;
	margin-left:20px;
	background:#4d78b3;
	padding:10px 10px 0px 10px;
	border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	box-shadow:0px 2px 2px #000;
		-moz-box-shadow:0px 2px 2px #000;
		-webkit-box-shadow:0px 2px 2px #000;
}

aside .widget {
	margin-bottom:10px;
	float:left;
}

aside .widget > h3{
	background:#fff;
	color:#4d78b3;
	width:220px;
	padding:10px 0px;
	text-align:center;
	font-weight:bold;
	margin-bottom:10px;
}

aside .widget a {
	color:#fff;
}

aside .widget ul li {
	margin-bottom:5px;
}

aside .widget img {
	width:220px;
}

/*--- Footer ---*/

footer {
	width:100%;
	float:left;
	clear:both;
	box-shadow:0px 2px 2px #000;
		-moz-box-shadow:0px 2px 2px #000;
		-webkit-box-shadow:0px 2px 2px #000;
	border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2f2f2f+0,242424+100 */
	background: #2f2f2f; /* Old browsers */
	background: -moz-linear-gradient(top,  #2f2f2f 0%, #242424 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #2f2f2f 0%,#242424 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #2f2f2f 0%,#242424 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f2f2f', endColorstr='#242424',GradientType=0 ); /* IE6-9 */
}

footer section {
	width:440px;
	float:left;
	padding:20px;
}

footer #acerca-de {
	font-family:Arial, Helvetica, Sans-serif;
	font-size:12px;
	color:#8c8c8c;
	text-align:justify;
	line-height:20px;
}

footer #acerca-de h3 {
	font-family:sourcesans-light;
	font-size:20px;
	color:#fff;
	margin-bottom:5px;
}

footer #redes-s > div {
	width:210px;
	height:60px;
	float:left;
	background:#ff8000;
	opacity:0.5;
}

footer #redes-s > div a {
	width:220px;
	height:60px;
	display:inline-block;
}

footer #redes-s .email {
	background:url(../imagenes/correo.jpg);
	margin-bottom:15px;
}

footer #redes-s .twitter {
	background:url(../imagenes/twitter.jpg);
	margin-bottom:15px;
}

footer #redes-s .facebook {
	background:url(../imagenes/facebook.jpg);
}

footer #redes-s .youtube {
	background:url(../imagenes/youtube.jpg);
}

footer #redes-s > div:hover {
	opacity:1;
}

#copyright {
	float:left;
	width:960px;
	margin:10px 0px;
}

#copyright p {
	text-align:center;
	font-size:12px;
	color:#fff;
	font-family:Arial, Helvetica, Sans-serif;
}